@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root{
    --color-base : rgb(233, 173, 173);
    --color-second : rgb(107, 132, 187);
    padding: 0;
    margin: 0;
}
*{

    padding: 0;
    margin: 0;
}
body{
    background-image: linear-gradient(45deg , rgb(235, 77, 77), rgb(65, 65, 219));
    height: 100vh;
    display: flex;

}
.img-container{
    width: clamp(300px,40%,500px);
    flex-shrink: 0;
    position: relative;
}
img{
    width: 100%;
    height: 100%;
}
.brand{
    width: 100%;
    color: white;
    font-size: 2rem;
    font-family: 'Permanent Marker', cursive;
    padding: 15px 0;
    position: absolute;
    top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-color: rgba(255, 255, 255, 0.45);
}
.logo{
    width: 100px
}

.form-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center; 
    
}
.intro{
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 30px 30px 30px;
    font-weight: 600;
    color: rgb(197, 194, 194);
}
.intro span {
    font-family: 'Permanent Marker', cursive;
    color: var(--color-second);
}
.inputs{
    box-shadow: 0 3px 5px black;
    background-color: var(--color-second);
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
button[type="submit"]{
    background-color: var(--color-second);
    margin: 30px;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    cursor: pointer;
}
button:active{
    transform: scale(1.1);
}
.gender{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px
}
.precise{
    flex-basis: 100%;
}

label[for='precise']{
    margin-right: 15px;
}
.input{
    display: flex;
    flex-direction: column;
    width: 40%;
    
}
input[type]{
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    height: 1.3rem;
    padding: 0 3px;
}
input:focus{
    outline: none;
    border: 1px solid var(--color-base);
}

.log-in{
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px 0 0 30px;
    color: rgb(163, 159, 159);
}
